node_modules/
.git
.idea
* text eol=lf
.DS_Store
example/fonts-zh.css
example/fonts/STKaiti.eot
example/fonts/STKaiti.woff
example/fonts/STKaiti.woff2
example/fonts/STKaiti.svg
example/index/index.html
